.Home{
    margin: 0;
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.Q6-txXl9k24557sixkTX1wHaEK&pid=Api&rs=1&c=1&qlt=95&w=196&h=110);
    background-size: cover; 
    padding: 0;
    width:100vw;
    height:100vh;
    font-family: 'montseratt', sans-serif
}